/****** PLACE YOUR CUSTOM STYLES HERE ******/
nav.transparent .menu > li > a.active {
  color: #fff;
}

nav.transparent .menu > li > a.inactive {
  color: #e9e9e9;
  transition: color .5s ease;
}

nav.transparent .menu > li > a.inactive:hover {
  color:#fff;
}

nav .menu > li > a.active {
  opacity: 1;
}

.image-slider .slides li > img {
  height: 500px;
  width: auto;
}

.image-slider .slides li {
  text-align: center;
}

.flex-direction-nav a.flex-prev:before, .flex-direction-nav a.flex-next:before {
  color:#505050;
}

.subtitle {
  color: #888888;
  font-style:italic;
}

.box {
  background-color: #f8f8f8;
  padding:32px;
  padding-bottom:8px;
}

.under-box {
  background-color:#e9e9e9;
  border-top:1px solid #c9c9c9;
  padding:32px;
  padding-top:16px;
}

#accordion > .panel > .panel-collapse {
  padding:32px;
}

#accordion > .panel > .panel-heading > .panel-title > a {
  width:100%;
  display: inline-block;
}

hr {
  width:50%;
  margin:0 auto;
  padding-bottom:24px;
  text-align:center;
}

.newbtn {
  background-color: #84e1e1;
}

.newbtn:focus,
.newbtn:hover {
  background-color: #32cdcd;
}

#mentors .modal-lg {
  width: 80%;
}

#mentor-table th {
  color: black;
  word-wrap: break-word;
}

#mentor-table td {
  text-align: left;
  vertical-align:middle;
}

#mentor-table img {
  max-width: 20%;
  display: inline;
}

.wrapper {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.cell {
  position: relative;
  background-color: #84e1e1;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%
}

.cell h2 {
  min-height: 32px;
  font-size: 24px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 12px;
}

.cell img {
  width: 15%;
}

.cell ul {
  text-align: left;
}

.cell a {
  color: #808080;
}

.cell a:hover{
  color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.bottom a {
  position: absolute;
	bottom: 12px;
}
