/****** PLACE YOUR CUSTOM STYLES HERE ******/
nav.transparent .menu > li > a.active {
  color: #fff;
}

nav.transparent .menu > li > a.inactive {
  color: #e9e9e9;
  transition: color .5s ease;
}

nav.transparent .menu > li > a.inactive:hover {
  color:#fff;
}

nav .menu > li > a.active {
  opacity: 1;
}

.image-slider .slides li > img {
  height: 500px;
  width: auto;
}

.image-slider .slides li {
  text-align: center;
}

.flex-direction-nav a.flex-prev:before, .flex-direction-nav a.flex-next:before {
  color:#505050;
}

.subtitle {
  color: #888888;
  font-style:italic;
}

.box {
  background-color: #f8f8f8;
  padding:32px;
  padding-bottom:8px;
}

.under-box {
  background-color:#e9e9e9;
  border-top:1px solid #c9c9c9;
  padding:32px;
  padding-top:16px;
}

#accordion > .panel > .panel-collapse {
  padding:32px;
}

#accordion > .panel > .panel-heading > .panel-title > a {
  width:100%;
  display: inline-block;
}

hr {
  width:50%;
  margin:0 auto;
  padding-bottom:24px;
  text-align:center;
}

.newbtn {
  background-color: #84e1e1;
}

.newbtn:focus,
.newbtn:hover {
  background-color: #32cdcd;
}

#mentor-table th {
  color: black;
  word-wrap: break-word;
}

#mentor-table td {
  text-align: left;
  vertical-align:middle;
}

#mentor-table img {
  max-width: 20%;
  display: inline;
}

.wrapper {
  background-color: #fff;
  color: #444;
  margin-left: 3%
}

.cell {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: linear-gradient(#84e1e1, #2db9b9);
  color: #fff;
  border-radius: 5px 5px 30px 30px;
  padding: 0px;
  font-size: 120%;
  box-shadow: 0 2px 4px 2px #808080;
  min-height: 420px;
  width: 165px;
  margin: 4px;
}

@media (max-width: 380px) {
  .cell {
    width: 155px;
  }
}

@media (max-width: 320px) {
  .cell {
    width: 130px;
    font-size: 110%;
  }

  .cell h2 {
    font-size: 18px;
  }
}

.cell h2 {
  min-height: 28px;
  font-size: 22px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 2px;
  width: 100%;
  padding-top: 10px;
}

.cell img {
  width: 15%;
}

.cell ul {
  text-align: left;
  list-style-type:disc;
  margin-left: 4px;
  margin-bottom:10px;
  padding: 4px 20px 5px 20px;
}

.cell li {
  margin-bottom: 0px;
  line-height: 140%;
}

.cell a {
  color: #B82E67;
}

.cell a:hover{
  color: #E599B7;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.bottom li {
  list-style-type: none;
}

.bottom a {
  position: absolute;
  text-decoration: none;
}

#mentor-blurb {
  margin-bottom: 40px;
  width: 100%;
}

#quote {
  font-family: "Helvetica Neue";
  font-style: italic;
  letter-spacing: -1px;
  color: #C9E085;
}

#searchInput {
  width: 40%;
  padding: 10px;
  border: solid 5px white;
  transition: border 0.3s;
}

#searchInput:focus {
  border: solid 5px #969696;
}

-ms-column-column nth-child(2) {
  width: 2px;
}

.hidden-content {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear, opacity 0.5s linear;
}

.parent:hover ~ .hidden-content {
  visibility: visible;
  opacity: 1;
}

.overlap {
  position: absolute;
  z-index: 1;
  width: 93%;
}

.hover {
  opacity: 1 !important;
  filter:none !important;
}

.gray {
  opacity: .5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.new-size {
  width: 75%;
}

.left-board {
  width:200%;
  left:100%;
  margin-top:-130%;
  padding-bottom: 16px;
  color: black;
}

.summary {
  font-size: 150%;
  font-weight: bold;
  font-style: italic;
}

.hobbies {
  float: left;
  width: 40%;
}

.hobbies ul {
  margin-bottom: 0;
}

.hobbies h4 {
  text-align: center;
  margin-bottom: 0px;
  font-weight: 400;
}

.hobbies span {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.hobbies li {
  text-align: left;
  font-size: 120%;
  margin-left: 5%;
}

.hobbies li:before {
  content: "- ";
}

.about {
  margin-top: 25px;
  float: right;
  width: 60%;
  font-size: 130%;
  text-align: left;
  margin-bottom: 5px;
}

.central-summary {
  left: -110%;
  margin-top: -120%;
  color: black;
  width: 110%;
}

.central-other {
  left:100%;
  margin-top:-120%;
  color: black;
  width: 110%;
  padding-left: 10px;
}

.right-board {
  width:200%;
  left:-200%;
  margin-top:-130%;
  padding-bottom: 16px;
  color: black;
}

.central-other .hobbies {
  width: 50%;
}

.central-other .about {
  width: 50%;
}

.parent > #jiyu, .parent > #cindee {
  margin:-32px;
  width:auto;
  margin-top:8px;
}

.social-media {
  margin-top: 5px;
}

.social-media img {
  margin-top: 5px;
  opacity: .5;
  filter: grayscale(100%);
}

.twitter {
  height: 35px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.instagram {
  height: 30px;
  width: auto;
  margin-right: 5px;
}

.email-button {
  height: 35px;
  width: auto;
  margin-left: 3px;
}

#color {
  opacity: 1;
  filter: none;
}

.color {
  opacity: 1 !important;
  filter: none !important;
}

.bio-link {
  display: none;
  font-size: 28px;
  margin-top: 14px;
}

.mobile-pic {
  float: left;
}

.mobile-hobbies {
  float: none;
  width: 100%;
}

.mobile-about {
  margin-top: 25px;
  float: none;
  width: 100%;
}

.mobile-summary {
  clear: left;
}

#mobile-hobbies {
  float: left;
  display: block;
  margin-left: 8px;
}

.mobile-font {
  font-size: 120%;
}
