/****** PLACE YOUR CUSTOM STYLES HERE ******/
nav.transparent .menu > li > a.active {
  color: #fff;
}

nav.transparent .menu > li > a.inactive {
  color: #e9e9e9;
  transition: color .5s ease;
}

nav.transparent .menu > li > a.inactive:hover {
  color:#fff;
}

nav .menu > li > a.active {
  opacity: 1;
}

.image-slider .slides li > img {
  height: 500px;
  width: auto;
}

.image-slider .slides li {
  text-align: center;
}

.flex-direction-nav a.flex-prev:before, .flex-direction-nav a.flex-next:before {
  color:#505050;
}

.subtitle {
  color: #888888;
  font-style:italic;
}

.box {
  background-color: #f8f8f8;
  padding:32px;
  padding-bottom:8px;
}

.under-box {
  background-color:#e9e9e9;
  border-top:1px solid #c9c9c9;
  padding:32px;
  padding-top:16px;
}

#accordion > .panel > .panel-collapse {
  padding:32px;
}

#accordion > .panel > .panel-heading > .panel-title > a {
  width:100%;
  display: inline-block;
}

hr {
  width:50%;
  margin:0 auto;
  padding-bottom:24px;
  text-align:center;
}

.newbtn {
  background-color: #84e1e1;
}

.newbtn:focus,
.newbtn:hover {
  background-color: #32cdcd;
}

#mentors .modal-lg {
  width: 80%;
}

#mentor-table th {
  color: black;
  word-wrap: break-word;
}

#mentor-table td {
  text-align: left;
  vertical-align:middle;
}

#mentor-table img {
  max-width: 20%;
  display: inline;
}

.wrapper {
  display: -ms-grid;
  -ms-grid-columns: 19% 10px 19% 10px 19% 10px 19% 10px 19% 10px 19%;
  -ms-grid-rows: minmax(350px, max-content);
  background-color: #fff;
  color: #444;
}

.cell {
  position: relative;
  background: linear-gradient(#84e1e1, #2db9b9);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  box-shadow: 0 2px 4px 2px #808080;
  min-height: 350px;
}

.cell h2 {
  min-height: 32px;
  font-size: 24px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 12px;
}

.cell img {
  width: 15%;
}

.cell ul {
  text-align: left;
  list-style-type:disc;
  margin-left: 4px;
}

.cell li {
  margin-bottom: 5px;
}

.cell a {
  color: #B82E67;
}

.cell a:hover{
  color: #E599B7;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.bottom li {
  list-style-type: none;
}

.bottom a {
  position: absolute;
  text-decoration: none;
	bottom: 12px;
}

#mentor-blurb {
  margin-bottom: 40px;
  width: 1200px;
}

#quote {
  font-family: "Helvetica Neue";
  font-style: italic;
  letter-spacing: -1px;
  color: #C9E085;
}
